@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, select, textarea, button,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
}
img {
    border: 0;
}
:focus {
    outline: 0;
}
.clear {
    clear: both;
}

@font-face {
    font-family: 'Graphik';
    src: url('../font/Graphik-Regular.woff2') format('woff2'),
        url('../font/Graphik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('../font/Graphik-Light.woff2') format('woff2'),
        url('../font/Graphik-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('../font/Graphik-Medium.woff2') format('woff2'),
        url('../font/Graphik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

html,
body{
    font-family: Graphik,sans-serif;
    height: 100%;
}

body{
    display: flex;
}

.sidebar{
    width: 252px;
    background: #4C52BC;
    display: flex;
    flex-direction: column;
}

.sidebar .logo{
    padding-top: 35px;
    padding-left: 60px;
    padding-bottom: 65px;
}

.sidebar .logo a{
    display: block;
}

.sidebar .logo a img{
    width: 100px;
    height: 80px;
}

.sidebar .menu ul li a{
    display: block;
    height: 48px;
    line-height: 48px;
    padding: 0 40px;
    font-size: 14px;
    color: rgba(255, 255, 255, .6);
}

.sidebar .menu ul li a:hover{
    color: #fff;
}

.sidebar .menu ul li.active a{
    color: #fff;
    background: linear-gradient(to left, transparent, rgba(255,255,255,.08));
    /* box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1);
    text-shadow: 0 2px 4px rgba(0, 0, 0, .5); */
}


.sidebar .storage{
    padding: 0 40px 35px;
    margin-top: auto;
}

.sidebar .storage .title{
    display: flex;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    font-weight: normal;
    align-items: center;
}

.sidebar .storage .title .percent{
    font-size: 12px;
    color: rgba(255, 255, 2555, .8);
    margin-left: auto;
}

.sidebar .storage .title i{
    margin-right: 9px;
}

.sidebar .storage .bar{
    width: 100%;
    height: 6px;
    border-radius: 6px;
    background: #30358A;
    margin-top: 12px;
}

.sidebar .storage .bar span{
    width: auto;
    height: 6px;
    border-radius: 6px;
    background: #F8D9AF;
    display: block;
}

.content{
    flex:1;
    display: flex;
}

.content .inner{
    flex: 1;
    padding: 32px 65px;
}

.content .inner .search input{
    width: 340px;
    height: 44px;
    border-radius: 44px;
    background: rgba(202, 206, 231, .14);
    font-size: 14px;
}



.content .rightbar{
    width: 360px;
    border-left: 2px solid #f6f7fa;
    padding: 32px 0;
}